.ion-ios-cari,
.ion-md-cari {
  content: url(../../assets/cari.png);
  background-repeat: no-repeat;
  background-position: 30%;
  height: 30%;
  width : 30%;
}

.ion-ios-anak,
.ion-md-anak {
  content: url(../../assets/homeHikiddo.png);
  background-repeat: no-repeat;
  background-position: 60%;
  height: 60%;
  width : 60%;
}

.ion-ios-profil,
.ion-md-profil {
  content: url(../../assets/profile.png);
  background-repeat: no-repeat;
  background-position: 30%;
  height: 30%;
  width : 30%;
}

.ion-ios-bantuan,
.ion-md-bantuan {
  content: url(../../assets/bantuan.png);
  background-repeat: no-repeat;
  background-position: 40%;
  height: 40%;
  width : 40%;
}

.tabs-md .tabbar {
    background: #00aeef;
}